<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.raunakgarments">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".admin.AdminUserOrderDetailsActivity"
            android:parentActivityName=".admin.AdminUserOrdersActivity"
            android:label="@string/title_activity_admin_user_order_details"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".admin.AdminUserOrdersActivity"
            android:label="@string/title_activity_admin_user_order"
            android:parentActivityName=".admin.AdminOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminOrdersActivity"
            android:label="@string/title_activity_admin_orders"
            android:parentActivityName=".admin.AdminProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserOrderDetailsActivity"
            android:label="@string/title_activity_user_order_details"
            android:parentActivityName=".UserOrdersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserOrdersActivity"
            android:label="@string/title_activity_user_orders"
            android:parentActivityName=".ProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartConfirmationActivity"
            android:label="@string/title_activity_cart_confirmation"
            android:noHistory="true"
            android:parentActivityName=".UserCartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".developerActivities.DeveloperAdminActivity"
            android:label="@string/title_activity_developer_admin"
            android:parentActivityName=".admin.AdminProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminPinCodeEditActivity"
            android:label="@string/title_activity_admin_pin_code_edit"
            android:parentActivityName=".admin.AdminFunctionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminContactUsEditActivity"
            android:label="@string/title_activity_admin_contact_us_edit"
            android:parentActivityName=".admin.AdminFunctionsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminFunctionsActivity"
            android:label="@string/title_activity_admin_functions"
            android:parentActivityName=".admin.AdminProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactUsActivity"
            android:label="@string/title_activity_contact_us"
            android:parentActivityName=".ProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:parentActivityName=".ProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CheckoutActivity"
            android:label="@string/title_activity_checkout"
            android:parentActivityName=".UserCartActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserCartActivity"
            android:label="@string/title_activity_user_cart"
            android:noHistory="true"
            android:parentActivityName=".ProductActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".admin.AdminProductsEdit"
            android:label="@string/title_activity_admin_products_edit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProductActivityNew"
            android:label="@string/title_activity_product"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/title_activity_main" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- </activity> -->
        <activity
            android:name=".ProductDetails"
            android:parentActivityName=".ProductActivityNew" />
        <activity android:name=".admin.AdminProductActivityNew" />
        <activity
            android:name=".admin.AdminProductDetails"
            android:parentActivityName=".admin.AdminProductActivityNew" /> <!-- <activity android:name=".cart.CartActivity" /> -->
        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />
    </application>

</manifest>